/* @import '_./node_modules/tabulator-tables/dist/css/tabulator.css_'; */
@import '../node_modules/tabulator-tables/dist/css/tabulator.css';
/* @layer expenseTracker; */
@layer expenseTracker {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #ffcfef;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    padding-inline: 50px;
    padding-block: 50px;
    gap: 50px;

    .expenseTracker {
      flex: 1;
      padding-inline: 20px;
      padding-block: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #0a97b0;
      justify-content: center;
      border-radius: 5px;
      h2 {
        font-weight: 900;
        font-size: 30px;
        color: white;
      }
      form {
        margin-top: 15px;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;

        input,
        select {
          width: 170px;
          padding-block: 7px;
          padding-inline: 10px;
          border: none;
          border-radius: 5px;
        }
        .submit {
          border-radius: 5px;
          border: none;
          background-color: #0a5eb0;
          color: white;
          padding-inline: 10px;
        }
      }
      .totalPrice {
        display: block;
        margin-left: auto;
        margin-top: 15px;
        color: white;
      }
      .sort {
        color: white;
        display: block;
        margin-left: auto;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          select {
            padding-block: 7px;
            padding-inline: 15px;
            border: none;
            border-radius: 5px;
          }
        }
      }
      .canvas {
        margin-top: 30px;
        color: white;
        background-color: white;
        width: 100%;
      }
    }
    .expenseList {
      display: flex;
      /* justify-content: center; */
      gap: 10px;
      align-items: center;
      flex-direction: column;
      flex: 1;
      #example-table {
        background-color: black; /* Set your desired color */
      }
    }
  }
}
